.container {
    background-color: #222;
    box-sizing: border-box;
    padding: 60px 0px;
    width: 0px;
    overflow: hidden;
    transition: width 350ms, padding 350ms;

    &>.expand {
        position: absolute;
        top: 20px;
        right: 0px;
        height: 40px;
        width: 30px;
        border-radius: 4px 0 0 4px;
        background-color: #222;
        border: none;
        display: grid;
        place-content: center;
        transition: right 350ms, background-color 350ms;
        cursor: pointer;

        & svg {
            fill: white;
        }

        &.expanded {
            transform: rotateZ(180deg);
            right: 305px;
            width: 40px;
            border-radius: 4px;
            background-color: #181818;
        }

        &:hover {
            background-color: #303030;
        }
    }

    &.expanded {
        width: 380px;
        padding: 60px 40px 40px;
    }

    & h1,
    h2 {
        font-family: 'Staatliches', cursive;
        color: #FFD700;

        &[contenteditable="true"] {
            padding: 5px 10px;
            background-color: #080808;
        }
    }

    & h2 {
        font-size: 2em;
        margin: 0;
    }

    & .details {
        padding: 20px 0;
    }

    & p {
        font-size: 1.5em;
        margin: 0;
        font-family: 'Staatliches', cursive;

        &>span {
            color: #888;
        }

        &.id {
            color: #444;
            font-size: 1em;
            text-align: center;
            padding: 20px;
        }
    }

    &>.actions {
        margin: 25px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        height: min-content;

        &>button {
            box-sizing: border-box;
            display: grid;
            grid-template-rows: auto auto;
            row-gap: 10px;
            background-color: transparent;
            border: none;
            padding: 20px 30px 20px;

            transition: background-color 350ms;
            cursor: pointer;
            overflow: visible;
            background-color: #88888811;
            border-radius: 4px;

            &>p {
                margin: 0;
                color: #aaa;
                text-transform: uppercase;
                display: grid;
                place-self: end center;
                font-weight: bold;
                transition: color 350ms;

            }

            &.delete {
                & svg {
                    fill: rgb(198, 42, 42);
                }
            }

            &.edit {
                & svg {
                    fill: rgb(252, 249, 40);
                }
            }

            & svg {
                margin: 0 auto;
                width: auto;
                height: 40px;
            }

            &:hover {
                background-color: #222;

                &>p {
                    color: white;
                }
            }
        }
    }
}
