.container {
    padding: 40px;
    overflow: hidden;
    font-size: 1.3em;
    background-color: #222;
    width: 0px;
    padding: 0px;
    transition: width 350ms, padding 350ms;

    &>.expand {
        position: absolute;
        top: 20px;
        left: 0px;
        height: 40px;
        width: 30px;
        border-radius: 4px 0 0 4px;
        background-color: #222;
        border: none;
        display: grid;
        place-content: center;
        transition: left 350ms, background-color 350ms;
        transform: rotateZ(180deg);
        z-index: 100; 

        cursor: pointer;

        & svg {
            fill: white;
        }

        &.expanded {
            transform: rotateZ(0deg);
            left: 220px;
            width: 40px;
            border-radius: 4px;
            background-color: #181818;
        }

        &:hover {
            background-color: #303030;
        }
    }

    &.expanded {
        width: 220px;
        padding: 60px 40px 40px;
    }

    &>h1 {
        font-size: 2em;
        line-height: 1em;
        margin: 20px 0 10px;
        text-transform: uppercase;
        font-family: 'Poppins';
        border-radius: 8px;
        color: #FFD700;

        &[contenteditable="true"] {
            padding: 5px 10px;
            background-color: #151515;
        }
    }

    &>h2 {
        border-radius: 8px;
        margin-top: 0;
        font-family: 'Staatliches', cursive;

        &[contenteditable="true"] {
            padding: 5px 10px;
            background-color: #151515;
        }
    }

    & .details {
        padding: 20px 0;

        &>.track {
            font-size: 1em;
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 10px;

            &>h3 {
                font-family: 'Staatliches', cursive;
                margin: 0;

                &.instrument {
                    color: #FFD700;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
