.container {
    position: fixed;
    box-sizing: border-box;
    bottom: 40px;
    height: 64px;
    width: 300px;
    left: 50%;
    display: grid;
    grid-template-columns: 54px auto;
    transform: translate(-50%);
    background-color: #181818;
    border-radius: 32px;
    box-shadow: 0 0 5px 1px #101010;
    z-index: 1000;

    &>.play-container {
        position: relative;
        top: calc(-45px + 32px);
        left: 0;
        height: 85px;
        width: 85px;
        padding: 5px;
        border-radius: 50%;
        background-color: #181818;
        display: grid;
        place-content: center;
        box-shadow: 0 0 5px 1px #101010;

        &>.play {

            cursor: pointer;
            background-color: #FFD700;
            border-radius: 50%;
            border: none;
    
            height: 80px;
            width: 80px;
            display: grid;
            place-content: center;
    
            & svg {
                height: 60px;
                width: 60px;
    
                & path {
                    fill: #181818;
                }
            }
        }
    }
    
}
