.song-list--wrapper{
    display: grid;
    height: 100vh;
    & .list--wrapper{
        place-self: center;
        & h3{
            padding: 10px 20px;
            font-size: 2rem;
            font-weight: bold;
        }
        & .list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            & .list--item{
                display: grid;
                grid-template-rows: auto auto;
                row-gap: 15px;
                padding: 22px 20px 15px 20px;
                max-width: 124px;
                border: 2px solid transparent;
                border-radius: 10px;
                transition: border-color 350ms;
                &:hover{
                    // border-color: var(--accent-alt);
                    & h4{
                        color: var(--accent-alt);
                    }
                }
                & .icon{
                    place-self: center;
                    height: 120px;
                    width: 120px;
                    border-radius: 10px;
                    &.create-new{
                        border: 2px dashed grey;
                    }
                }
                & h4{
                    transition: color 350ms;
                    text-align: center;
                    color: grey;
                }
            }
        }
    }
}