.track--wrapper{
    padding: 10px;
    cursor: pointer;
    svg{
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        fill: #888888;
        transition: fill 350ms;
    }
    &:hover{
        svg{
            fill: var(--accent-alt);
        }
    }
}