.container {
    min-height: 0;
    display: grid;
    row-gap: 1px;
    grid-auto-flow: rows;
    height: calc(100% - 4px);
    border-top: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &>.key {
        height: 15px;
        width: calc(100% - 20px);
        border-right: 20px solid white;
        text-transform: uppercase;
        display: grid;
        font-family: 'Staatliches', cursive;

        &>span {
            transform: translate(5px, -2px);
        }
    }
}
