.container {
    min-height: 0;
    display: grid;
    row-gap: 1px;
    background-color: #333;
    grid-auto-flow: rows;
    height: calc(100% - 2px);
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    &>.key {
        height: 15px;
        width: calc(100% - 20px);
        border-right: 20px solid white;
        text-transform: uppercase;
        display: grid;
        font-family: 'Staatliches', cursive;

        &>span {
            transform: translate(5px, -2px);
        }
    }
}
