.container {
    display: grid;
    grid-auto-flow: row;
    border-radius: 8px;
    row-gap: 15px;
    font-family: 'Staatliches', cursive;
    font-size: 1.8em;
    text-align: center;
    width: min-content;
    padding: 20px;
    line-height: 1em;
    transition: box-shadow 350ms;
    cursor: pointer;
    background-color: #88888811;

    &>.frame {
        height: 140px;
        width: 140px;
        overflow: hidden;
        border-radius: 4px;

        &>.image {
            height: 100%;
            width: 100%;
            filter: brightness(1.3);
            background-position: center;
            background-size: cover;
            transition: transform 350ms;
        }
    }

    &:hover {
        box-shadow: inset 0 0 4px 200px #88888822;

        &>.frame>.image {
            transform: scale(1.05);
        }
    }
}
