:root{
    --bg-primary: #000000;
    --text-color: #FFFFFF;
    --bg-secondary: white;
    --accent: #00ffff;
    --accent-alt: #7700ff;
}
body{
    background-color: var(--bg-primary);
    color: var(--text-color);
}