.container {
    position: sticky;
    height: 60px;
    width: calc(100% - 40px);
    margin: 20px auto 10px;
    background-color: #222;
    box-shadow: 0 0 10px 5px #111;
    top: -10px;
    z-index: 600;
    cursor: pointer;
}
