.container {
    position: relative;
    background-color: #151515;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr min(450px, 40vw);
    column-gap: 40px;

    &>.projects {
        position: relative;
        display: grid;
        place-content: center;
        padding-bottom: 200px;
        padding-top: 100px;

        &>h1 {
            margin-top: 50px;
            margin-left: 10px;
            text-transform: uppercase;
            font-family: 'Poppins';
        }

        &>.list {
            display: grid;
            place-self: center;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            
            width: max-content;
            height: min-content;

            @media screen and (max-width: 1500px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 1300px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 1100px) {
                grid-template-columns: repeat(1, 1fr);
            }

            &>.new {
                display: grid;
                grid-auto-flow: row;
                border-radius: 8px;
                row-gap: 20px;
                font-family: 'Staatliches', cursive;
                font-size: 1.8em;
                text-align: center;
                width: min-content;
                padding: 17px;
                line-height: 1em;
                border: 3px dashed #88888833;
                transition: box-shadow 350ms, color 350ms;
                color: #aaa;
                cursor: pointer;

            
                &>.image {
                    height: 140px;
                    width: 140px;
                    display: grid;
                    place-content: center;
                    font-size: 4em;
                    font-weight: bold;
                    border-radius: 4px;
                    color: #151515;
                    background-color: #88888833;
                    transition: background-color 350ms, color 350ms;
                }
            
                &:hover {
                    color: white;
                    border: 3px dashed #888;

                    &>.image {
                        color: transparent;
                        background-color: #00dddd;
                    }
                }
            }
        }

        &>.edit {
            position: sticky;
            height: 80px;
            width: 120px;
            background-color: #20202000;
            top: calc(100vh - 120px);
            left: calc(100vw - 300px);
            border-radius: 4px;            
            border: none;
            cursor: not-allowed;
            transition: background-color 350ms, filter 350ms;

            & svg {
                height: 100%;
                width: auto;
                fill: #151515;
                transition: fill 350ms;
            }

            &.enabled {
                cursor: pointer;
                background-color: #55007f;

                & svg {
                    fill: #fff;
                }
                &:hover {
                    filter: brightness(2);
                }
            }
        }
    }

    &>.details {
        position: sticky;
        box-sizing: border-box;
        top: 0;
        left: 0;
        height: 100vh;
        min-height: 0;
        background-color: #303030;

        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}
