.song-editor--wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr 250px;
    overflow: hidden;
}
.navigation--wrapper{
    grid-column: 1/2;
    background-color: #050505;
}
.header--wrapper{
    grid-column: 1/4;
    padding: 15px 0 0 20px;
    background-color: var(--accent-alt);
    color: white;
}
.side-options--wrapper{
    grid-column: 3/4;
    padding: 10px;
    overflow: hidden;
    h3{
        font-weight: bold;
        font-size: 1.5rem;
    }
}