.song-editor--wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr 250px;
    overflow: hidden;
}
.navigation--wrapper{
    grid-column: 1/2;
    background-color: #050505;
}
.header--wrapper{
    grid-column: 1/4;
    padding: 15px 0 0 20px;
    background-color: var(--accent-alt);
    color: white;
}
.workspace--wrapper{
    grid-column: 2/3;
    background-color: #000000;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-auto-rows: 150px;
    padding: 10px;
    .add-track{
        cursor: pointer;
        display: grid;
        place-content: center;
        font-size: 20px;
        border-radius: 4px;
        color: #252525;
        border: 2px dashed #252525;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        transition: border-color 350ms, color 350ms;
        &:hover {
            border-color: var(--accent-alt);
            color: var(--accent-alt);
        }
    }
    .track--with-details{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        border-left: 4px solid #101010;
        background-color: #101010;
        transition: border-color 350ms, background-color 350ms;
        border-radius: 4px;
        &:hover{
            background-color: #151515;
            border-color: var(--accent-alt);
        }
        &.selected{
            background-color: #202020;
            border-color: var(--accent);
            &:hover {
                background-color: #252525;
                border-color: var(--accent-alt);
            }
        }
    }
}
.side-options--wrapper{
    grid-column: 3/4;
    padding: 10px;
    overflow: hidden;
    h3{
        font-weight: bold;
        font-size: 1.5rem;
    }
}